@media (max-width: 800px) {
  .side-bar {
    display: none;
  }

  .main {
    margin-left: 0 !important;
  }

  #main-header {
    display: block !important;
  }

  .mobile-category-grid {
    display: block;
  }

  .search {
    display: none;
  }
}
