@media (max-width: 800px) {
  .side-bar {
    display: none;
  }

  .main {
    margin-left: 0 !important;
  }

  .mobile-category-grid {
    display: block;
  }
}

.mobile-category-grid {
  border: 5px solid red !important;
  background-color: yellow !important;
}

.mobile-category-grid {
  min-height: 200px !important;
  background-color: yellow !important;
  border: 5px solid red !important;
}
